<%= stylesheet_link_tag "https://www.w3schools.com/w3css/4/w3.css" %>
<%= stylesheet_link_tag "tablew3" %>
<div id="imaginary_container">
  <div class="input-group stylish-input-group">
    <%= search_form_for @search do |f| %>
      <%= f.search_field :team_cont, class: "form-control search_input",
        placeholder: t("teams.index.search") %>
      <span class="input-group-addon">
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
    <% end %>
  <table class="w3-table">
    <tr>
      <th><%= t "teams.index.name" %></th>
      <th><%= t "teams.index.stadium" %></th>
      <th><%= t "teams.index.nation" %></th>
    </tr>
    <%= render partial: "team", collection: @teams %>
  </table>
</div>
