<footer id="footer" class="footer">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <div class="full">
               <div class="footer-widget">
                  <div class="footer-logo">
                     <a href="#"><img src="../assets/footer-logo.png" alt="#" /></a>
                  </div>
                  <ul class="social-icons style-4 pull-left">
                     <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                     <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                     <li><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                     <li><a class="pinterest" href="#"><i class="fab fa-pinterest-p"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-2">
            <div class="full">
               <div class="footer-widget">
                  <h3><%= t "shared.home.footer.menu" %></h3>
                  <ul class="footer-menu">
                     <li><a href="about.html"><%= t "shared.home.footer.about" %></a></li>
                     <li><a href="team.html"><%= t "shared.home.footer.team" %></a></li>
                     <li><a href="news.html"><%= t "shared.home.footer.news" %></a></li>
                     <li><a href="matche.html"><%= t "shared.home.footer.match" %></a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="full">
               <div class="footer-widget">
                  <h3><%= t "shared.home.footer.contact" %></h3>
                  <ul class="address-list">
                     <li><i class="fa fa-map-marker"></i><%= t "shared.home.footer.location" %></li>
                     <li><i class="fa fa-phone"></i><%= t "shared.home.footer.phone" %></li>
                     <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i><%= t "shared.home.footer.mail" %></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-bottom">
      <div class="container">
         <p><%= t "shared.home.footer.copyright" %></p>
      </div>
   </div>
   <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
</footer>
