<li>
  <input type="button" class="btn btn-primary" name="btnAdd" value="Add Match Result" onclick="window.location.href='<%= new_admin_match_result_url %>'" >
</li>
<div class="table-container">
   <table class="trestle-table">
      <thead>
        <tr>
          <th class="">
            <a class="sort" href="">
              <%= t "match_results.index.match_id" %>
            </a>
          </th>
          <th class="">
            <a class="sort" href="">
              <%= t "match_results.index.name_home" %>
            </a>
          </th>
          <th class="">
            <a class="sort" href="">
              <%= t "match_results.index.score1" %>
            </a>
          </th>
          <th class="">
            <a class="sort" href="">
              <%= t "match_results.index.score2" %>
            </a>
          </th>
          <th class="">
            <a class="sort" href="">
              <%= t "match_results.index.name_guest" %>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
         <%= will_paginate %>
         <%= render @match_results %>
      </tbody>
   </table>
</div>
