<li>
  <input type="button" class="btn btn-primary" name="btnAdd" value="Add league" onclick="window.location.href='<%= new_admin_league_url %>'" >
</li>
<div class="table-container">
   <table class="trestle-table">
      <thead>
         <tr>
            <th class="">
               <a class="sort" href="">
                  <%= t ".name" %>
               </a>
            </th>
            <th class="">
               <a class="sort" href="">
                  <%= t ".country" %>
               </a>
            </th>
            <th class="">
               <a class="sort" href="">
                  <%= t ".start_date" %>
               </a>
            </th>
            <th class="">
               <a class="sort" href="">
                  <%= t ".end_date" %>
               </a>
            </th>
            <th class="">
               <a class="sort" href="">
                  <%= t ".continent" %>
               </a>
            </th>
            <th class="">
               <a class="sort" href="">
                  <%= t ".number_of_match" %>
               </a>
            </th>
            <th class="">
               <a class="sort" href="">
                  <%= t ".number_of_team" %>
               </a>
            </th>
            <th class="">
               <a class="sort" href="">
                  <%= t ".match_time" %>
               </a>
            </th>
            <th class="">
               <a class="sort" href="">
                  <%= t ".number_of_round" %>
               </a>
            </th>
         </tr>
      </thead>
      <tbody>
         <%= will_paginate %>
         <%= render @leagues %>
      </tbody>
   </table>
</div>
