<li>
  <input type="button" class="btn btn-primary" name="btnAdd" value="Add league" onclick="window.location.href='<%= new_admin_league_url %>'" >
</li>
<div class="table-container">
   <table class="trestle-table">
      <thead>
         <th><%= t ".name" %></th>
         <th><%= t ".country" %></th>
         <th><%= t ".start_date" %></th>
         <th><%= t ".end_date" %></th>
         <th><%= t ".continent" %></th>
         <th><%= t ".number_of_match" %></th>
         <th><%= t ".number_of_team" %></th>
         <th><%= t ".match_time" %></th>
         <th><%= t ".number_of_round" %></th>
      </thead>
      <tbody>
         <%= will_paginate %>
         <%= render @leagues %>
      </tbody>
   </table>
</div>
