<td class="id"><%= match.id %></td>
<td class="team1"><%= match.team1.name %></td>
<td class="team2"><%= match.team2.name %></td>
<td class="status"><%= match.status %></td>


<td class="actions"><%= link_to t("matches.match.delete"), admin_match_path(match), method: :delete,
   data: { confirm: t("matches.match.sure") } %></td>
<td class="actions"><%= link_to t("matches.match.edit"), edit_admin_match_path(match) %></td>
</tr>
