<%= stylesheet_link_tag "result" %>
<div class="result">
  <p><%= @match.team1_name %></p>
  <p><strong><%= t "matches.show.versus" %></strong></p>
  <p><%= @match.team2_name %></p>
  <p><%= @match.match_date %></p>
  <%= show_result %>
  <%= render "score_bets/score_bet" %>
</div>
