<p><%= t("devise.mailer.reset_pass.hello", email: @resource.email) %></p>

<p><%= t("devise.mailer.reset_pass.request_link") %></p>

<p><%= link_to t("devise.mailer.reset_pass.change_pass"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.mailer.reset_pass.ignore_mail") %></p>
<p><%= t("devise.mailer.reset_pass.click_link") %></p>
