<div class="table-container">
   <table class="trestle-table">
      <thead>
         <tr>
            <th class="">
               <a class="sort" href="">
               <%= t "users.index.id" %>
               </a>
            </th>
            <th class="">
               <a class="sort" href="">
               <%= t "users.index.name" %>
               </a>
            </th>
            <th class="">
               <a class="sort" href="">
               <%= t "users.index.email" %>
               </a>
            </th>
            </th>
            <th class="text-center">
               <a class="sort" href="">
               <%= t "users.index.activated" %>
               </a>
            </th>
            <th class="text-center">
               <a class="sort" href="">
               <%= t "users.index.activated_at" %>
               </a>
            </th>
            <th class="text-center">
               <a class="sort" href="">
               <%= t "users.index.admin" %>
               </a>
            </th>
            <th class=""><a class="sort" href="">
               <%= t "users.index.money" %>
               </a>
            </th>
            <th class="text-center">
               <a class="sort" href="">
               <%= t "users.index.created_at" %>
               </a>
            </th>
            <th class="text-center"><a class="sort" href="">
              <%= t "users.index.updated_at" %></a></th>
            <th class="actions"></th>
         </tr>
      </thead>
      <tbody>
         <%= will_paginate %>
         <%= render @users %>
      </tbody>
   </table>
</div>
<style type="text/css">
   table {
   width: 100%;
   }
   th {
   height: 50px;
   }
</style>
