<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<head>
   <title><%= t "layouts.admin" %></title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
   <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
   <!-- bootstrap-css -->
   <%= stylesheet_link_tag "style2" %>
   <!-- //bootstrap-css -->
   <!-- Custom CSS -->
   <!-- font CSS -->
   <link href="//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

</head>
<body>
   <section id="container">
      <!--header start-->
      <header class="header fixed-top clearfix">
         <!--logo start-->
         <div class="brand">
            <a href="index.html" class="logo">
            <%= t "layouts.admin" %>
            </a>
            <div class="sidebar-toggle-box">
               <div class="fa fa-bars"></div>
            </div>
         </div>
         <!--logo end-->
         <div class="top-nav clearfix">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
               <li>
                  <input type="button" class="btn btn-primary" name="btnAdd" value="Add" onclick="window.location.href='<%= new_admin_user_url %>'" >
               </li>
               <li>
                  <input type="text" class="form-control search" placeholder=" Search">
               </li>
               <!-- user login dropdown start-->
               <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <span class="username"><%= current_user.name %></span>
                  <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu extended logout">
                     <li><a href="#"><%= t "admin.profile" %></a></li>
                     <li><a href="#"><%= t "admin.settings" %>s</a></li>
                     <li><a href="login.html"><%= t "admin.log_out" %></a></li>
                  </ul>
               </li>
               <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
         </div>
      </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
         <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
               <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                     <%= link_to admin_users_path do %>
                        <span><%= t "admin.users" %></span>
                     <% end %>
                  </li>
                  <li>
                     <%= link_to admin_notifications_path do %>
                        <span><%= t "admin.notifications" %></span>
                     <% end %>
                  </li>
                  <li>
                     <%= link_to admin_matches_path do %>
                        <span><%= t "admin.matches" %></span>
                     <% end %>
                  </li>
                  <li>
                     <%= link_to admin_match_results_path do %>
                        <span><%= t "admin.match_results" %></span>
                     <% end %>
                  </li>
                  <li>
                     <%= link_to admin_leagues_path do %>
                        <span><%= t "admin.leagues" %></span>
                     <% end %>
                  </li>
                  <li>
                     <%= link_to admin_news_index_path do %>
                        <span><%= t "admin.news" %></span>
                     <% end %>
                  </li>
               </ul>
            </div>
            <!-- sidebar menu end-->
         </div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
         <section class="wrapper">
            <%= yield %>
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
         </section>
      </section>
      <!-- footer -->
      <!-- / footer -->
   </section>
   <!--main content end-->
   </section>
   <%= javascript_include_tag "application" %>
   <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
   <!-- morris JavaScript -->
   <!-- //calendar -->
</body>
</html>
