<!DOCTYPE html>
<html>
  <head>
    <title><%= t("layouts.title") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "custom" %>
    <%= stylesheet_link_tag Settings.application.font %>
    <%= stylesheet_link_tag Settings.application.font_awesome %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload"%>
  </head>

  <body>
    <%= render "shared/home/top" %>
    <%= yield %>
    <%= render "shared/home/footer" %>
    <%= javascript_include_tag "custom" %>
  </body>
</html>
